DISCORD_TOKEN="YOUR_DISCORD_TOKEN"
MAIN_WEBHOOK="https://discord.com/api/webhooks/WEBHOOK_ID/WEBHOOK_TOKEN"
ERROR_WEBHOOK="https://discord.com/api/webhooks/WEBHOOK_ID/WEBHOOK_TOKEN"
GITHUB_TOKEN="ghp_XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
REPOSITORY="YOUR_NAME/YOUR_REPO_NAME"
PING_ROLE_ID=""
LOCALE="en-US"
STATE_DIR="./"
